/* TYPOGRAPHY */
/* ----------------------------------------- */
@font-face { font-family: Din; src: url('DINPro-Regular.otf') format("opentype"); } 

html, body {
	background:#fff;
	height:100%;
}
body {
	font-family:Din, helvetica, arial, sans-serif;
	font-size:1em;
	color:#000;
}

h2 {
	font-size:0.75em;/*1.714em;*/
	margin-bottom:0.75em;
}
	/*h2:after {
		content: "—";
		display:block;
	}*/

p, address {
	/*font-size:0.875em;*/
	font-size:0.9375em;
	line-height:1.5em;
	margin-bottom:1.25em;
}

a, a:link, a:active, a:visited {
	color:#fff;
	text-decoration:none;
}
	a:hover {
		color:#ccc;
	}
	
iframe {
	display:block;
	margin:0 auto;
}

#header {
	position:fixed;
	z-index:999;
	min-width:100%;
	display:block;
}
	#logo {
		margin:30px 0 0 50px;
	}
	#navigation {
		position:absolute;
		top:50px;
		right:50px !important;
		
		text-align:right;
	}
		#navigation a {
			display:block;
			height:55px;
			/*margin-bottom:12px;*/
			overflow:visible;
		}
		#navigation a .img {
			display:block;
			float:right;
			height:43px;
			width:43px;
			overflow:hidden;
			background-position:0 -44px;
			background-repeat:no-repeat;
		}
		#navigation a .text {
			width:40px;
			float:left;
			margin-top:10px;
		}
		#navigation a span {
			display:none;
			background:#483732;
			color:#fff;
			font-size:0.75em;
			padding:3px 8px;
			margin-left:-50px;
			margin-right:10px;
		}
		#navigation a:hover span,
		#navigation .selected a span {
			display:inline;
		}
		#navigation a:hover .img {
			background-position:0 0px;
		}
		
		#nav_index {
			cursor:pointer;
		}
		.index {
			position:fixed;
			right:50px;
			bottom:30px;
			z-index:999;
			height:43px;
			/*overflow:hidden;*/
		}
		.index a .img {
			float:right;
			height:43px;
			width:43px;
			overflow:hidden;
			background-position:0 -44px;
			background-repeat:no-repeat;
		}
		.index a .text {
			float:left;
			width:60px;
			margin-top:10px;
		}
		.index a span {
			display:none;
			float:right;
			background:#483732;
			color:#fff;
			font-size:0.75em;
			padding:3px 10px;
			margin-left:-75px;
			margin-right:10px;
		}
		.index a:hover span {
			display:inline;
		}
		.index a:hover .img {
			background-position:0 0px;
		}
		
		
#container {
	width:100%;
	height:100%;
}
	
	.page {
		margin:0 auto;
		width:100%;
		height:100%;
		
		overflow:hidden;
		display:table;
		position:static;
		text-align:center;
		color:#fff;
	}
		.page .content {
			display:table-cell;
			vertical-align:middle;
			position:static;
		}
		
		.page .content .body {
			margin-left:auto;
			margin-right:auto;
			text-align:left;
		}
		.page > .page > .content {
			padding:130px 10px 10px 10px;
		}
	#lookbook {
	}
		#gallery_prev, #gallery_next {
			position:absolute;
			top:40%;
			z-index:111;
			opacity:0.4;
			
			cursor:pointer;
			color:#aaa;
			font-size:3em;
			padding:60px;
		}
		#gallery_prev:hover, #gallery_next:hover {
			opacity:1;
		}
		#gallery_next {
			right:0;
		}
		#gallery {
			background:url('../images/ajm_bg1.jpg');
			background-position:top center !important;
			background-repeat:no-repeat !important;
			background-size:cover !important;
			height:99%;
			width:100%;
		}
		#gallery .slide.ss12 {
			background:#bc6c53;
			height:100%;
			width:100%;
		}
			#gallery .slide .page {
				background-position:top center !important;
				background-repeat:no-repeat !important;
				background-size:cover !important;
			}
		
		.audio {
			position:absolute;
			left:50px;
			bottom:30px;
			z-index:999;
			height:25px;
			overflow:hidden;
		}
		.audio .sm2_button {
			background-image:url('../images/play.png');
			width:25px;
			height:25px;
			display:block;
			color:transparent;
		}
		.audio .sm2_paused {
			background-image:url('../images/play.png');
			
		}
		.audio .sm2_playing {
			background-image:url('../images/stop.png');
		}
		span.title {
			position:absolute;
			left:85px;
			bottom:30px;
			display:block;
			background:#483732;
			color:#fff;
			font-size:0.9375em;
			line-height:1em;
			padding:3px 10px 7px 10px;
		}
		.video {
			position:absolute;
			right:50px;
			bottom:85px;
			z-index:999;
			height:43px;
			/*overflow:hidden;*/
			cursor:pointer;
		}
		.video a .text {
			float:left;
			width:200px;
			margin-top:10px;
		}
		.video a .img {
			float:right;
			height:43px;
			width:43px;
			overflow:hidden;
			background-position:0 -44px;
			background-repeat:no-repeat;
		}
		.video a span {
			display:none;
			float:right;
			background:#483732;
			color:#fff;
			font-size:0.75em;
			padding:3px 10px;
			margin-left:-75px;
			margin-right:10px;
		}
		.video a:hover .img {
			background-position:0 0;
		}
		.video a:hover span {
			display:inline;
		}
		
		#ss12 {
			background:#bc6c53;
			max-width:770px;
			height:auto;
			padding:10px;
		}
			.bts {
				background:url('../images/video.png') no-repeat;
				text-transform:uppercase;
				text-indent:44px;
				font-size:0.75em;
				color:#fff;
				padding:8px 60px 10px 30px;
			}
	
	#about {
		/*background: url('../images/background.jpg');
		background-size:cover;*/
		background:#75ba83;
	}
		#about > .page {
			/*background:#483732;
			background-clip:content-box;*/
			padding:10px;
		}
		#about .body {
			max-width:770px;
		}
	#press {
		/*background: url('../images/background.jpg');
		background-size:cover;*/
		background:#483732;
	}
		#press > .page {
			/*background:#483732;
			background-clip:content-box;*/
			padding:10px;
		}
		#press .body {
			/*background:url('../images/press_bg.png') no-repeat;/*154px 150px;
			background-size:100% 100%;
			background-position:top center;*/
			max-width:820px;/*784px;*/
			max-height:588px;
			min-height:200px;
			width:90%;
			height:100%;
			overflow:visible;
			text-align:center;
		}
		.press_item {
			background:transparent url('../images/press_item_bg.png');
			background-repeat:no-repeat;
			background-position:center top;
			background-clip:content-box;
			/*border-radius:88px;*/
			height:175px;
			width:175px;
			display:table-cell;
			float:left;
			margin-right:28px;
			padding-bottom:40px;
			position:relative;
			z-index:99;
		}
		a.press_item:hover {
			background-position:center -180px;
		}
		.press_item.last {
			/*margin-right:0;*/
		}
		.press_item.bottom {
			margin-bottom:0px;
		} 
			.press_item + .popup {
				display:none;
			}
		.press_between_row {
			clear:both;
			margin-left:100px;
			position:relative;
			z-index:88;
		}
		.press_between {
			background:url('../images/press_between.png') no-repeat center center;
			display:block;
			height:64px;
			width:64px;
			position:relative;
			top:182px;
			left:150px;
			z-index:88;
			margin-top:-64px;
		}
		.press_between.last {
			margin-right:5%;
		}
		
	#contact {
		/*background: url('../images/background.jpg');
		background-size:cover;*/
		background: #9c97a3;
	}
		#contact > .page {
			/*background:#483732;
			background-clip:content-box;*/
			padding:10px;
		}
		#contact .body {
			/*width:770px;
			height:400px;*/
			text-align:center;
		}
		.social_links img {
			margin-right:10px;
		}

#index {
	background:#bc6c53;
	background:url('../images/ajm_bg1.jpg');
	background-position:top center !important;
	/*background-repeat:no-repeat !important;*/
	/*background-size:cover !important;*/
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	width:100%;
	min-height:100%;
	height:auto;
	color:#fff;
	overflow:visible;
}
	#index .content {
		vertical-align:top;
	}
	#index .body {
		width:100%;
		max-width:990px;
		position:relative;
		overflow:auto;
	}
	#index .body .heading {
		display:block;
		clear:both;
		height:50px;
		margin-top:10px;
		overflow:visible;
	}
		#index .body .heading .title {
			float:left;
			display:block;
		}
		#index .body .heading .bts {
			float:right;
			display:block;
			text-indent:10px;
			font-size:0.625em;
			margin-right:36px;
		}
	#index_body .index_link {
		display:block;
		float:left;
		margin:0 24px 14px 0;
	}
		#index_body .index_link img {
			border:3px solid transparent;
			border-radius:5px;
		}
		#index_body .index_link:hover img {
			border:3px solid #fff;
		}
		#index_body .index_link div {
			background:#222;
			width:180px;
			height:110px;
		}
	
	#index .close {
		background-image:url("../images/close_brown.png");
		float:right;
		display:block;
		cursor:pointer;
		margin-top:-1px;
	}

#social_box,
#ss12_box,
#press_box {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:9999;
	background:#483732;
	/*background:rgba(72,55,50,0.9);*/
	
	display:none;
}
#ss12_box {
	background:#bc6c53;
	/*background:rgba(188,108,83,0.9);*/
}
	#social .body,
	#ss12_box .body,
	#press_box .body {
		/*width:400px;
		height:600px;*/
		
		text-align:center;
		margin:0 auto;
	}
	#press_box .body .pressimg {
		height:80%;
		display:block;
		margin:0 auto;
	}
	#ss12_box .body .ss12_content, 
	#press_box .body .press_content {
		display:inline-block;
		text-align:center;
	} 
	.close {
		background:url("../images/close.png") no-repeat top center;
		margin-left:88%;
		display:block;
		cursor:pointer;
		height:53px;
		width:53px;
		overflow:hidden;
	}
	.close:hover {
		background-position:center -54px;
	}
	#ss12_box .social,
	#press_box .social {
		float:left;
		display:inline;
		cursor:pointer;
		margin-top:10px;
	}
	#ss12_box .social img,
	#press_box .social img {
		margin-right:10px;
	}
	#ss12_box .videodescription,
	#press_box .pressdescription {
		float:right;
		display:inline;
		margin-top:10px;
	}
	#press_box .pressdescription a {
		text-decoration:underline;
	}

#social_box {
	background:transparent;
	background:rgba(0,0,0,0.5);
}
	#social_box .body {
		width:500px;
		padding-left:60px;
	}
	#social_body {
		background:#483732;
		margin-right:60px;
		padding:20px;
	}
	.fb-like {
		background:#fff;
	}
	#social_box iframe {
		margin:0;
	}

.icon_fb {
	background:url("../images/icon_facebook.png") no-repeat 0 -1px;
}
.icon_twitter {
	background:url("../images/icon_twitter.png") no-repeat 0 -1px;
}
.icon_fb, .icon_twitter {
	height:26px;
	width:26px;
	margin-right:5px;
	display:inline-block;
	overflow:hidden;
}
	.icon_fb:hover, 
	.icon_twitter:hover {
		background-position:0 -27px;
	}